
<div class="nn-spacer"></div>
<section class="announcement-section"><div class="marquee-stamp">
    <img class="marquee-icon spin-me" src="">
</div>
<div class="announcement-bar nn-section">

<div class="marquee-container container-flex-center">
  <div class="marquee-item">BIENVENIDO A PYASHOP</div>
  <div class="marquee-item">BIENVENIDO A PYASHOP</div>
  <div class="marquee-item">BIENVENIDO A PYASHOP</div>
  <div class="marquee-item">BIENVENIDO A PYASHOP</div>
  <div class="marquee-item">BIENVENIDO A PYASHOP</div>
  <div class="marquee-item">BIENVENIDO A PYASHOP</div>
  <div class="marquee-item">BIENVENIDO A PYASHOP</div>
</div>
</div></section>


<div id="carouselExampleDark" class="carousel carousel-dark slide ">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="../../assets/licor2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/licor2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/licor2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="quienes-somos">
    <h1>NUESTRO APORTE</h1>
    <div class="row">
        <div class="column-1-T">
            <p>Dada la situación global que afecta a todo el planeta, hemos tomado la iniciativa de adaptar nuestra plataforma, ahora conocida como PyAshop, con el objetivo de hacer nuestra parte. A partir de ahora, tendrás la opción de realizar donaciones durante tus compras y también podrás acceder a una sección exclusiva dedicada a donaciones individuales. ¡Unámonos en PyAshop para cuidar nuestro planeta!</p>
        </div>
</div>
    <div class="row">
        <div class="column-2-I">
          <div class="wrapper">
            <div class="map">
              <div class="line">
                <svg height="830" width="1591" viewBox="0 0 1591 830">
                  <path d="m370.92,632.3,339.85-137.45,139.33-80.962,20.711,5.6485c37.93-69.02,86.29-135.73,166.59-207.11l25.418-44.247"></path>
                </svg>
              </div>
            </div>
          </div>
    </div>
</div>

<h1 style="margin-bottom: 20px;">NUESTRO APORTE</h1>

<div class="wrapper2">
	<div class="card">
		<div class="poster"><img src="https://avatarenergia.com/wp-content/uploads/2020/08/como-plantar-un-arbol.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Location: Trujillo</h1>
			<h2>FOTO: 05/07/2023</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
			</div>
			<div class="tags">
				<span class="tag">Trujillo</span>
				<span class="tag">Esperanza</span>
				<span class="tag">Porvenir</span>
			</div>
			<p class="desc">
				En la ciudad de trujillo se ha llegado a plantar mas de 15 arboles
			</p>
			<div class="cast">
				<h3>Donadores</h3>
				<ul>
					<li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
					<li><img src="https://i.postimg.cc/8P7X7r7r/cast-12.jpg" alt="Rebecca Floyd" title="Rebecca Floyd"></li>
					<li><img src="https://i.postimg.cc/2SvHwRFk/cast-13.jpg
" alt="Antonio Herrera" title="Antonio Herrera"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="https://agroavances.com/img/noticias/2469_2.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Location: Esperanza</h1>
			<h2>FOTO: 05/07/2023</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="far fa-star"></i>
			</div>
			<div class="tags">
				<span class="tag">Trujillo</span>
				<span class="tag">Esperanza</span>
				<span class="tag">Porvenir</span>
			</div>
			<p class="desc">
        En el distrito de la esperanza se ha llegado a plantar mas de 15 arboles
			</p>
			<div class="cast">
				<h3>Donadores</h3>
				<ul>
					<li><img src="https://i.postimg.cc/yY2QcYRp/cast-21.jpg" alt="Angelina Whyte" title="Angelina Whyte"></li>
					<li><img src="https://i.postimg.cc/R0BgpsXc/cast-22.jpg" alt="Ivan Benson" title="Ivan Benson"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="https://laredhispana.org/wp-content/uploads/2021/02/AdobeStock_169041213-859x573.jpg" alt="Location Unknown"></div>
		<div class="details">
			<h1>Location: Porvenir</h1>
			<h2>FOTO: 05/07/2023</h2>
			<div class="rating">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star-half-alt"></i>
			</div>
			<div class="tags">
				<span class="tag">Trujillo</span>
				<span class="tag">Esperanza</span>
				<span class="tag">Porvenir</span>
			</div>
			<p class="desc">
        En el distrito de la esperanza se ha llegado a plantar mas de 15 arboles</p>
			<div class="cast">
				<h3>Donadores</h3>
				<ul>
					<li><img src="https://i.postimg.cc/xd3twv4B/cast-31.jpg" alt="Jessica Enduro" title="Jessica Enduro"></li>
					<li><img src="https://i.postimg.cc/C1MmSZy5/cast-32.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
				</ul>
			</div>
		</div>
	</div>
</div>





<!---Chat Board Start-->
<div class="chat-board chatbot chat new trending"></div>
    
        <div class="widget-position-right sidebar-position-right onlyBubble" id="chatContainer">

            <div class="chat no-clip-path chrome moveFromRight-enter-done">
                <div class="chat-header project-online" style="color: rgb(255, 255, 255); background: linear-gradient(135deg, rgb(42, 39, 218) 0%, rgb(0, 204, 255) 100%);">
                    <h2 class="oneline"><span>HOLA AMIG@ BORRACHO</span></h2>
                    <button class="material-icons exit-chat ripple tidio-1s5t5ku" id="minimize-button" type="button" aria-label="Minimize" style="color: rgb(255, 255, 255);">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" id="ic-minimize">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
                        </svg>
                        <span>Minimize</span>
                    </button>
                    <div class="offline-message" style="background-image: linear-gradient(135deg, rgba(42, 39, 218, 0.72) 0%, rgba(0, 204, 255, 0.72) 100%);">
                        <span class="online"><span>Nosotros estamos en linea</span></span>
                    </div>
                </div>
                <div id="conversation-group"  role="log">
                    <div id="messages" aria-live="polite" aria-atomic="false" data-testid="messagesLog">
                        <div class="message message-operator  ">
                            <span class="message-content">Hola</span>
                        </div>
                        <div class="message message-operator bots-quick-replies">
                            <div class="button-wrapper">
                             
                            </div>
                        </div>
                    </div><div id="conversation-scroll">
                        <div style="top: 0px; height: 55.8952px;"></div>
                    </div>
                </div>
                <div class="input-group ">
                    <hr>
                    <div class="drag-active-wrapper footer-input-wrapper">
                        <textarea id="chat-input" rows="1" placeholder="Presiona los botones para responder" aria-label="New message" data-testid="newMessageTextarea"></textarea>
                      
                        <button id="SentButton" class="send-icon" title="SentButton" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" xml:space="preserve">
                            <path fill="#d7d7d7" d="M22,11.7V12h-0.1c-0.1,1-17.7,9.5-18.8,9.1c-1.1-0.4,2.4-6.7,3-7.5C6.8,12.9,17.1,12,17.1,12H17c0,0,0-0.2,0-0.2c0,0,0,0,0,0c0-0.4-10.2-1-10.8-1.7c-0.6-0.7-4-7.1-3-7.5C4.3,2.1,22,10.5,22,11.7z"></path>
                            </svg>
                        </button>
                       
                    </div>
                </div>
            </div>

        </div>
        <div id="chat-button" data-testid="widgetButton" class="chat-closed mobile-size__medium">
            <div class="buttonWave"></div>
            <button type="button"
                    id="button-body"
                    data-testid="widgetButtonBody"
                    class="chrome"
                    tabindex="0"
                    aria-label="Open chat widget"
                    style="background: linear-gradient(135deg, rgb(42, 39, 218), rgb(0, 204, 255)); box-shadow: rgba(0, 77, 255, 0.5) 0px 4px 24px;">
                <i class="material-icons type1 for-closed active" style="color: rgb(255, 255, 255);">
                    <svg id="ic_bubble" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </i>
               
            </button>
        </div>
    </div>

    <!---Chat Board End-->


<div class="unete-ya">
    <h1>SE PARTE PYASHOP</h1>
    <div class="row">
        <div class="column-2-TU">
            <button mat-raised-button routerLink="/register" routerLinkActive="active" >REGÍSTRATE</button>
        </div>
    </div>
</div>


<footer class="text-white" style="background-color: #000000; width: 100%;">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Derechos Reservados:
        <a class="text-white" href="https://www.instagram.com/jof4x/">PyAshop.com</a>
      </div>
    </div>
  </div>
</footer>

