.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-wrapper {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .text-center {
    text-align: center;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form-container {
    width: 900px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 640px;
  }
  